!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Voteme"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "application", "data-turbolinks-track" => "true"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => "true"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    %base{'href'=>"/"}


  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Voteme
        #navbar.navbar-collapse.collapse
          - if user_signed_in?

            .navbar-form.navbar-right{"ng-controller" => "NavBarCtrl"}
              %span
                .form-group
                  %angucomplete#members{:datafield => "", :descriptionfield => "", :inputclass => "form-control search-field", :pause => "600", :placeholder => "Search polls", :selectedobject => "testObj", :titlefield => "title", :minlength => "3", :url => "http://#{request.host_with_port}/api/v1/polls/search?page=1&per_page=10&search="}
                .form-group
                  = render 'shared/navbar'
              .form-group
                %a.button.btn.btn-primary(href='' ng-click="signOut()") Sign out
                / = link_to "Sign out", destroy_user_session_path, method: :delete, class: "button btn btn-primary"
              .form-group.user_email
                = current_user.email
    %div.alert.alert-danger.fade.in(ng-if="$root.message")
      %button.close{"data-dismiss" => "alert"} ×
      %strong
        {{$root.message.data.error + " "}}
      {{$root.message.data.message}}

    = bootstrap_flash
    = yield
    %footer.footer
      .container
        %p.text-muted © Company 2014



